#glavni {
    width: 100%;
    margin: 10px;
    background-color: rgb(27, 13, 120);
    border: 10px solid rgb(209, 32, 232);
    padding-left: 10px;
    padding-right: 10px;
}

#glavni > p {
    color: yellow;
    /* margin-left: 10px; */
    margin: 0;
    margin-top: 20px;
    
}


.red-container {
    background-color: red;
    /* margin: 10px; */
    margin-top: 0;
    margin-bottom: 10px;
    padding: 10px;
}

.red-container > p {
    color: white;
    margin: 0;
}
