
body {
    background-color: antiquewhite
}

h1, h2 {
    text-align: center;;
}

ol {
    list-style-position: inside;
    list-style-type: none;
}

ol :last-child {
    color: black;
}

li {
    color: rgb(255, 0, 0)
}

.li-item {
    color: black;
}

#list-id {
    color: green;
}

li[title] {
    color: blue
}

.parent {
    background-color: rgb(193, 218, 55);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 {grid-area: 1 / 1 / 4 / 4; }
    .div2 {grid-area: 1 / 4 / 4 / 6; }
    .div3 {grid-area: 4 / 1 / 6 / 6; }

div {
    border: 1px solid black;
}